backend/data/
backend/media/
backend/videos/
backend/results/
backend/colmap/

web/static/media/users/
__pycache__
env/
.DS_Store
node_modules
build
.svelte-kit
package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
backend/nerf_model_x_1000iteration.h5
backend/tiny_nerf.ipynb
backend/.ipynb_checkpoints/tiny_nerf-checkpoint.ipynb
test-data/
backend/tiny_nerf_data.npz
